.main-container {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-decoration: none;
}

.main-container ul {
  display: flex;
  flex-direction: column;
}

.main-container ul li.user {
  list-style-type: none;
  display: flex;
  gap: 2em;
  align-items: center;
  padding: 1em;
}

.user img {
  padding: 2em;
  border: 1px solid rgba(0, 0, 0, 1);
}

.user div {
  width: 85%;
  height: 100%;
  padding: 1em;
  display: flex;
  gap: 2em;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 1);
}

.user div h2 a {
  text-decoration: none;
}

.user div .no_of_posts {
  align-self: flex-end;
}

.bio {
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.posts ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.posts ul li {
  padding: 2em;
  border: 1px solid rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.comments-likes {
  text-align: right;
}

.btn {
  width: 100%;
  margin: 1em auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.see-all-posts {
  width: max-content;
  padding: 8px 10px;
}

.posts_list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.single_post {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.comments-container {
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 1);
  list-style: none;
}

.post-header {
  padding: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 1);
}

.post-header div {
  align-self: flex-end;
}

.img-container {
  object-fit: cover;
  width: 100%;
  height: 180px;
  border-radius: 50%;
}

.text-container,
.text-box,
.posts-count {
  display: flex;
}

.txt-container {
  position: relative;
  width: 66.66%;
}

.text-box {
  align-items: center;
  font-size: x-large;
  font-weight: 800;
}

.posts-count {
  position: absolute;
  bottom: 16px;
  right: 8px;
}

.user-bio,
.user-recent-post {
  text-align: start;
  font-size: 16px;
  padding: 12px 4px;
  box-shadow: 2px 2px 2px rgba(26, 24, 24, 0.382);
}

.user-recent-post,
.post-info,
.comment-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

.post-info,
.comment-info {
  margin: 5px;
  padding: 12px;
}

.comment-title-box {
  text-align: center;
  font-size: 26px;
  font-weight: 800;
}

.form-container,
.comment-form {
  width: 100%;
  padding: 40px 0;
}
